<html>
	[#head#]
	<script type="text/javascript" src="/js/hotsite/upload.js"></script> 
	<body id="desafio">
		[#header#]
		<section>
		<div>
			<a href="/" id="link_wikidu"><img src="/images/wikidu_branco.gif" width="85" height="112" alt="Wikidu"></a>
			[#icone_tema#]
			<h3><span>Tema</span><br>[#theme#]</h3>
			<h2>[#back#][#next#][#challenge#]</h2>
			<br class="tudo">
			<article id="explica">
			<form enctype="multipart/form-data" method="post" id="postFile" action="/action/postfiletext">
				<input type="hidden" name="challenge_id" value="[#challenge_id#]" />
				<fieldset id="acoes">
					<div>
					[#description#]
					<textarea id="textAnswer" name="textAnswer" placeholder="Escreva aqui sua resposta."></textarea>
					<span id="sendTextChallenge" class="botao">Enviar</span>
					</div>
				</fieldset>
			</form>
			<div id="disclaimer">
			[#primeira_resposta#]
			</div>
			<!--div id="socorro"><p><strong>Socorro!</strong><br>Como responder a este desafio?</p></div-->
			</article>
			<br class="tudo">
		</div>
		</section>
		<br class="tudo">
		<dl id="respostas">
			<dt>
				<h3>Respostas a este desafio</h3>
			</dt>
			[#answers#]
		</dl>
		<p>&nbsp;<br></p>
		[#footer#]
</body>
</html>