<html>
	[#head#]
	<script type="text/javascript" src="/js/hotsite/upload.js"></script> 
	<body id="desafio">
		[#header#]
		<section>
			<a href="/" id="link_wikidu"><img src="/images/wikidu.gif" width="85" height="112" alt="Wikidu"></a>
			<h3><span>Tema</span><br>[#theme#]</h3>
			<h2>[#back#][#next#]<span>Desafio</span><br>[#challenge#]</h2>
			<br class="tudo">
			<article id="explica">
			<form enctype="multipart/form-data" method="post" id="postFile" action="/action/postfiletext">
				<input type="hidden" name="challenge_id" value="[#challenge_id#]" />
				<fieldset id="acoes">
					<p><strong>Está faltando sua resposta!</strong><br>Escreva abaixo</p>
					<div>
					<textarea id="textAnswer" name="textAnswer"></textarea>
					<span id="sendTextChallenge" class="botao">Enviar</span>
					</div>
				</fieldset>
			</form>
			<div id="disclaimer">
			<p>[#description#]</p>
			</div>
			<!--div id="socorro"><p><strong>Socorro!</strong><br>Como responder a este desafio?</p></div-->
			</article>
			<br class="tudo">
		</section>
		<br class="tudo">
		<dl id="respostas">
			<dt>
				<h3>Respostas a este desafio</h3>
			</dt>
			[#answers#]
		</dl>
		[#footer#]
</body>
</html>