<html>
	[#head#]  
<body id="tabuleiro">
	[#header#]
	<section>
		<a href="/" id="link_wikidu">
			<img src="/images/wikidu.gif" width="85" height="112" alt="Wikidu">
		</a>
		<h3><span>Tema</span><br>[#theme#]</h3>
	</section>
	<br class="tudo">
	<section id="mapa">
		<article>
			<h2>Mapa de desafios</h2>
			<div>
				<ul id="nivel">
					<li [#nivel-1#] ><strong>1</strong></li>
					<li [#nivel-2#] ><strong>2</strong></li>
					<li [#nivel-3#] ><strong>3</strong></li>
					<li [#nivel-4#] ><strong>4</strong></li>
					<li [#nivel-5#] ><strong>5</strong></li>
				</ul>

				<ul id="estrelas">
					[#stars#]
				</ul>
			</div><br>
		</article>
	</section>
	<br class="tudo">
	<section id="instrucoes">
		<dl>
			<dt>Nível<br><strong>[#nivel#]</strong></dt>
			<dd>
				<ul>
					[#challengeList#]
				</ul>
				<div>
					<object id="kaltura_player" name="kaltura_player" type="application/x-shockwave-flash" allowFullScreen="true" allowNetworking="all" allowScriptAccess="always" height="180" width="320" data="http://www.kaltura.com/index.php/kwidget/wid/_1598441/uiconf_id/20444342/entry_id/0_64mie35c/video.swf"> <param name="allowFullScreen" value="true" /> <param name="allowNetworking" value="all" /><param name="allowScriptAccess" value="always" /><param name="wmode" value="transparent" /><param name="bgcolor" value="#000000" /><param name="flashVars" value="&autoPlay=&entryId=0_64mie35c" /><param name="movie" value="http://www.kaltura.com/index.php/kwidget/wid/_1598441/uiconf_id/20444342/entry_id/0_64mie35c/video.swf"></object>
					<br class="tudo">
					<p>Um texto de tamanho razoável que caiba neste lugar tão bonito ao lado do botão roxo.</p>
					<a href="/theme/challenge/[#theme_id#]/[#challenge_id#]"><span>Responda<br>este desafio</span></a>
				</div>
			</dd>
		</dl>
	</section>
	[#footer#]
</body>
</html>