<html>
	<head>
		[#head#]
	</head>
	<body id="tema">
		[#header#]
			<section id="container">
				<br>
				<a id="allthemes" href="/">Veja todos os temas</a>
				<section id="explica">
					<div class="explica">
						<ul>
							<li>
								Lorem ipsum dolor sit amet, consectetur adipiscing elit. In et aliquet nisl. Pellentesque tempus vulputate mauris eu cursus. Proin volutpat.
								<br>
								<span><img src="/images/ico_coracao.gif" width="27" height="25">12</span>
							</li>
							<li>
								In et aliquet nisl. Pellentesque tempus vulputate mauris eu cursus. Proin volutpat. Lorem ipsum dolor sit amet, consectetur adipiscing elit.
								<br>
								<span><img src="/images/ico_medalha.gif" width="27" height="25"></span>
							</li>
							<li>
								In et aliquet nisl. Pellentesque tempus vulputate mauris eu cursus. Proin volutpat. Lorem ipsum dolor sit amet, consectetur adipiscing elit.
								<br>
								<span><img src="/images/ico_comentado.gif" width="27" height="25"></span>
							</li>
						</ul>
					</div>
					<div class="video">
						<object id="kaltura_player" name="kaltura_player" type="application/x-shockwave-flash" allowfullscreen="true" allownetworking="all" allowscriptaccess="always" height="360" width="640" data="http://www.kaltura.com/index.php/kwidget/wid/_1598441/uiconf_id/20444342/entry_id/0_64mie35c/video.swf"> <param name="allowFullScreen" value="true"> <param name="allowNetworking" value="all"><param name="allowScriptAccess" value="always"><param name="wmode" value="transparent"><param name="bgcolor" value="#000000"><param name="flashVars" value="&amp;autoPlay=&amp;entryId=0_64mie35c"><param name="movie" value="http://www.kaltura.com/index.php/kwidget/wid/_1598441/uiconf_id/20444342/entry_id/0_64mie35c/video.swf"></object>
					</div>
				</section>
				<dl id="respostas">
					<dt>
						<h3>O que é moda</h3>
						<div>
							<span>
							<img src="/images/bot_faca_voce.gif" alt="Faça você!" width="110" height="40">
							</span><br>
							<a href="vejamais.php">Ver mais respostas a esta questão.</a>
						</div>
						<p>Alguma coisa bem legal vai escrita aqui. E pode ter até 3 linhas de texto.</p>
					</dt>

					<dd>
<figure>
<img src="/images/minininha.jpg" height="285" width="285" alt="Kidu">
<figcaption>
<span>
<img src="/images/ico_curtir.gif" width="36" height="36">
13</span>

<img src="/images/ico_usuario.gif" width="36" height="36" alt="User">	
<strong>Nome da pessoa</strong>
</figcaption>
</figure>

<figure>
<img src="/images/minininha.jpg" height="285" width="285" alt="Kidu">
<figcaption>
<span>
<img src="/images/ico_curtir.gif" width="36" height="36">
13</span>
	
<img src="/images/ico_usuario.gif" width="36" height="36" alt="User">	
<strong>Nome da pessoa</strong>
</figcaption>
</figure>

<figure>
<img src="/images/minininha.jpg" height="285" width="285" alt="Kidu">
<figcaption>
<span>
<img src="/images/ico_curtir.gif" width="36" height="36">
13</span>
	
<img src="/images/ico_usuario.gif" width="36" height="36" alt="User">	
<strong>Nome da pessoa</strong>
</figcaption>
</figure>

</dd>

<dt>
<h3>O que é moda</h3>

<div>
<span>
<img src="/images/bot_faca_voce.gif" alt="Faça você!" width="110" height="40">
</span><br>
<a href="vejamais.php">Ver mais respostas a esta questão.</a>
</div>

<p>Alguma coisa bem legal vai escrita aqui. E pode ter até 3 linhas de texto.</p>
</dt>

<dd>
<figure>
<img src="/images/minininha.jpg" height="285" width="285" alt="Kidu">
<figcaption>
<span>
<img src="/images/ico_curtir.gif" width="36" height="36">
13</span>

<img src="/images/ico_usuario.gif" width="36" height="36" alt="User">	
<strong>Nome da pessoa</strong>
</figcaption>
</figure>

<figure>
<img src="/images/minininha.jpg" height="285" width="285" alt="Kidu">
<figcaption>
<span>
<img src="/images/ico_curtir.gif" width="36" height="36">
13</span>
	
<img src="/images/ico_usuario.gif" width="36" height="36" alt="User">	
<strong>Nome da pessoa</strong>
</figcaption>
</figure>

<figure>
<img src="/images/minininha.jpg" height="285" width="285" alt="Kidu">
<figcaption>
<span>
<img src="/images/ico_curtir.gif" width="36" height="36">
13</span>
	
<img src="/images/ico_usuario.gif" width="36" height="36" alt="User">	
<strong>Nome da pessoa</strong>
</figcaption>
</figure>

</dd>

<dt>
<h3>O que é moda</h3>

<div>
<span>
<img src="/images/bot_faca_voce.gif" alt="Faça você!" width="110" height="40">
</span><br>
<a href="vejamais.php">Ver mais respostas a esta questão.</a>
</div>

<p>Alguma coisa bem legal vai escrita aqui. E pode ter até 3 linhas de texto.</p>
</dt>

<dd>
<figure>
<img src="/images/minininha.jpg" height="285" width="285" alt="Kidu">
<figcaption>
<span>
<img src="/images/ico_curtir.gif" width="36" height="36">
13</span>

<img src="/images/ico_usuario.gif" width="36" height="36" alt="User">	
<strong>Nome da pessoa</strong>
</figcaption>
</figure>

<figure>
<img src="/images/minininha.jpg" height="285" width="285" alt="Kidu">
<figcaption>
<span>
<img src="/images/ico_curtir.gif" width="36" height="36">
13</span>
	
<img src="/images/ico_usuario.gif" width="36" height="36" alt="User">	
<strong>Nome da pessoa</strong>
</figcaption>
</figure>

<figure>
<img src="/images/minininha.jpg" height="285" width="285" alt="Kidu">
<figcaption>
<span>
<img src="/images/ico_curtir.gif" width="36" height="36">
13</span>
	
<img src="/images/ico_usuario.gif" width="36" height="36" alt="User">	
<strong>Nome da pessoa</strong>
</figcaption>
</figure>

</dd>

<dt>
<h3>O que é moda</h3>

<div>
<span>
<img src="/images/bot_faca_voce.gif" alt="Faça você!" width="110" height="40">
</span><br>
<a href="vejamais.php">Ver mais respostas a esta questão.</a>
</div>

<p>Alguma coisa bem legal vai escrita aqui. E pode ter até 3 linhas de texto.</p>
</dt>

<dd>
<figure>
<img src="/images/minininha.jpg" height="285" width="285" alt="Kidu">
<figcaption>
<span>
<img src="/images/ico_curtir.gif" width="36" height="36">
13</span>

<img src="/images/ico_usuario.gif" width="36" height="36" alt="User">	
<strong>Nome da pessoa</strong>
</figcaption>
</figure>

<figure>
<img src="/images/minininha.jpg" height="285" width="285" alt="Kidu">
<figcaption>
<span>
<img src="/images/ico_curtir.gif" width="36" height="36">
13</span>
	
<img src="/images/ico_usuario.gif" width="36" height="36" alt="User">	
<strong>Nome da pessoa</strong>
</figcaption>
</figure>

<figure>
<img src="/images/minininha.jpg" height="285" width="285" alt="Kidu">
<figcaption>
<span>
<img src="/images/ico_curtir.gif" width="36" height="36">
13</span>
	
<img src="/images/ico_usuario.gif" width="36" height="36" alt="User">	
<strong>Nome da pessoa</strong>
</figcaption>
</figure>

</dd>

<dt>
<h3>O que é moda</h3>

<div>
<span>
<img src="/images/bot_faca_voce.gif" alt="Faça você!" width="110" height="40">
</span><br>
<a href="vejamais.php">Ver mais respostas a esta questão.</a>
</div>

<p>Alguma coisa bem legal vai escrita aqui. E pode ter até 3 linhas de texto.</p>
</dt>

<dd>
<figure>
<img src="/images/minininha.jpg" height="285" width="285" alt="Kidu">
<figcaption>
<span>
<img src="/images/ico_curtir.gif" width="36" height="36">
13</span>

<img src="/images/ico_usuario.gif" width="36" height="36" alt="User">	
<strong>Nome da pessoa</strong>
</figcaption>
</figure>

<figure>
<img src="/images/minininha.jpg" height="285" width="285" alt="Kidu">
<figcaption>
<span>
<img src="/images/ico_curtir.gif" width="36" height="36">
13</span>
	
<img src="/images/ico_usuario.gif" width="36" height="36" alt="User">	
<strong>Nome da pessoa</strong>
</figcaption>
</figure>

<figure>
<img src="/images/minininha.jpg" height="285" width="285" alt="Kidu">
<figcaption>
<span>
<img src="/images/ico_curtir.gif" width="36" height="36">
13</span>
	
<img src="/images/ico_usuario.gif" width="36" height="36" alt="User">	
<strong>Nome da pessoa</strong>
</figcaption>
</figure>

</dd>
</dl>

<section id="tudo_sobre">
<article>
<h3>Veja tudo sobre o Mundo Fashion</h3>
<nav><a href="">Só vídeo</a> | <a href="">Só texto</a> | <a href="">Só images</a> | <a href="">Busca por data</a></nav>
<br class="tudo">
<div>
<figure>
<img src="/images/foto_desafio.jpg" height="204" width="204" alt="Kidu">
<figcaption>
<span>
<img src="/images/ico_curtir.gif" width="36" height="36">
13</span>
</figcaption>
</figure>

<figure>
<img src="/images/foto_desafio.jpg" height="204" width="204" alt="Kidu">
<figcaption>
<span>
<img src="/images/ico_curtir.gif" width="36" height="36">
13</span>
</figcaption>
</figure>

<figure>
<img src="/images/foto_desafio.jpg" height="204" width="204" alt="Kidu">
<figcaption>
<span>
<img src="/images/ico_curtir.gif" width="36" height="36">
13</span>
</figcaption>
</figure>

<figure>
<img src="/images/foto_desafio.jpg" height="204" width="204" alt="Kidu">
<figcaption>
<span>
<img src="/images/ico_curtir.gif" width="36" height="36">
13</span>
</figcaption>
</figure>

</div>

</article>
</section>
<br class="tudo">
<section id="outros_temas">
<span onclick="coisa();"><img src="/images/bot_ver_temas.gif" width="140" height="36" alt="Ver mais temas"></span>
<h3>Outros temas</h3>
<p>Um pequeno texto que vai explicar o que é isso.</p>
<form>
<input type="text" placeholder="Busque outros temas"><span>Buscar</span>
</form>
<br class="tudo">
<article>
<figure>
<img src="/images/foto_desafio.jpg" height="204" width="204" alt="Kidu">
<figcaption>
<span>
<img src="/images/ico_curtir.gif" width="36" height="36">
13</span>
</figcaption>
</figure>

<figure>
<img src="/images/foto_desafio.jpg" height="204" width="204" alt="Kidu">
<figcaption>
<span>
<img src="/images/ico_curtir.gif" width="36" height="36">
13</span>
</figcaption>
</figure>

<figure>
<img src="/images/foto_desafio.jpg" height="204" width="204" alt="Kidu">
<figcaption>
<span>
<img src="/images/ico_curtir.gif" width="36" height="36">
13</span>
</figcaption>
</figure>

<figure>
<img src="/images/foto_desafio.jpg" height="204" width="204" alt="Kidu">
<figcaption>
<span>
<img src="/images/ico_curtir.gif" width="36" height="36">
13</span>
</figcaption>
</figure>

</article>
</section>
<br class="tudo">
<p>&nbsp;</p>

			</section>

		[#footer#]
	</body>
</html>