<html>
	<head>
		[#head#]
	</head>
	<body id="tema">
		[#header#]
			<section id="container">
				<h2>[#theme#]</h2>
				<br>
				<a id="allthemes" href="/">Veja todos os temas</a>
				<section id="explica">
					<div class="explica">
						<ul>
							<li>
								Lorem ipsum dolor sit amet, consectetur adipiscing elit. In et aliquet nisl. Pellentesque tempus vulputate mauris eu cursus. Proin volutpat.
								<br>
								<span><img src="/images/ico_coracao.gif" width="27" height="25">[#members#]</span>
							</li>
							<li>
								In et aliquet nisl. Pellentesque tempus vulputate mauris eu cursus. Proin volutpat. Lorem ipsum dolor sit amet, consectetur adipiscing elit.
								<br>
								<span><img src="/images/ico_medalha.gif" width="27" height="25"></span>
							</li>
							<li>
								In et aliquet nisl. Pellentesque tempus vulputate mauris eu cursus. Proin volutpat. Lorem ipsum dolor sit amet, consectetur adipiscing elit.
								<br>
								<span><img src="/images/ico_comentado.gif" width="27" height="25"></span>
							</li>
						</ul>
					</div>
					<div class="video">
						<script type="text/javascript" src="http://cdnapi.kaltura.com/p/1598441/sp/159844100/embedIframeJs/uiconf_id/20444342/partner_id/1598441?entry_id=[#video#]&playerId=20444342&cache_st=1362074486&autoembed=true&width=640&height=360&"></script>
					</div>
				</section>
				<dl id="respostas">
					[#desafios#]
					

					
				</dl>

			<section id="tudo_sobre">
			<article>
			<h3>Veja tudo sobre o Mundo Fashion</h3>
			<nav><a href="">Só vídeo</a> | <a href="">Só texto</a> | <a href="">Só images</a> | <a href="">Busca por data</a></nav>
			<br class="tudo">
			<div>
			<figure>
			<img src="/images/foto_desafio.jpg" height="204" width="204" alt="Kidu">
			<figcaption>
			<span>
			<img src="/images/ico_curtir.gif" width="36" height="36">
			13</span>
			</figcaption>
			</figure>

			<figure>
			<img src="/images/foto_desafio.jpg" height="204" width="204" alt="Kidu">
			<figcaption>
			<span>
			<img src="/images/ico_curtir.gif" width="36" height="36">
			13</span>
			</figcaption>
			</figure>

			<figure>
			<img src="/images/foto_desafio.jpg" height="204" width="204" alt="Kidu">
			<figcaption>
			<span>
			<img src="/images/ico_curtir.gif" width="36" height="36">
			13</span>
			</figcaption>
			</figure>

			<figure>
			<img src="/images/foto_desafio.jpg" height="204" width="204" alt="Kidu">
			<figcaption>
			<span>
			<img src="/images/ico_curtir.gif" width="36" height="36">
			13</span>
			</figcaption>
			</figure>

			</div>

			</article>
			</section>
			<br class="tudo">
			<section id="outros_temas">
			<span onclick="coisa();"><img src="/images/bot_ver_temas.gif" width="140" height="36" alt="Ver mais temas"></span>
			<h3>Outros temas</h3>
			<p>Um pequeno texto que vai explicar o que é isso.</p>
			<form>
			<input type="text" placeholder="Busque outros temas"><span>Buscar</span>
			</form>
			<br class="tudo">
			<article>
			<figure>
			<img src="/images/foto_desafio.jpg" height="204" width="204" alt="Kidu">
			<figcaption>
			<span>
			<img src="/images/ico_curtir.gif" width="36" height="36">
			13</span>
			</figcaption>
			</figure>

			<figure>
			<img src="/images/foto_desafio.jpg" height="204" width="204" alt="Kidu">
			<figcaption>
			<span>
			<img src="/images/ico_curtir.gif" width="36" height="36">
			13</span>
			</figcaption>
			</figure>

			<figure>
			<img src="/images/foto_desafio.jpg" height="204" width="204" alt="Kidu">
			<figcaption>
			<span>
			<img src="/images/ico_curtir.gif" width="36" height="36">
			13</span>
			</figcaption>
			</figure>

			<figure>
			<img src="/images/foto_desafio.jpg" height="204" width="204" alt="Kidu">
			<figcaption>
			<span>
			<img src="/images/ico_curtir.gif" width="36" height="36">
			13</span>
			</figcaption>
			</figure>

			</article>
			</section>
			<br class="tudo">
			<p>&nbsp;</p>

			</section>

		[#footer#]
	</body>
</html>