<html>
	<head>
		[#head#]
		<script type="text/javascript" src="/js/hotsite/theme.js"></script> 
	</head>
	<body id="tema">
		[#header#]
			<section id="container">
				<h2>[#theme#]</h2>
				<br>
				<a id="allthemes" href="/">Veja todos os temas</a>
				<section id="explica">
					<div class="explica">
						<ul>
							<li>
								Lorem ipsum dolor sit amet, consectetur adipiscing elit. In et aliquet nisl. Pellentesque tempus vulputate mauris eu cursus. Proin volutpat.
								<br>
								<span><img src="/images/ico_coracao.gif" width="27" height="25">[#members#]</span>
							</li>
							<li>
								In et aliquet nisl. Pellentesque tempus vulputate mauris eu cursus. Proin volutpat. Lorem ipsum dolor sit amet, consectetur adipiscing elit.
								<br>
								<span><img src="/images/ico_medalha.gif" width="27" height="25"></span>
							</li>
							<li>
								In et aliquet nisl. Pellentesque tempus vulputate mauris eu cursus. Proin volutpat. Lorem ipsum dolor sit amet, consectetur adipiscing elit.
								<br>
								<span><img src="/images/ico_comentado.gif" width="27" height="25"></span>
							</li>
						</ul>
					</div>
					<div class="video">
						<script type="text/javascript" src="http://cdnapi.kaltura.com/p/1598441/sp/159844100/embedIframeJs/uiconf_id/20444342/partner_id/1598441?entry_id=[#video#]&playerId=20444342&cache_st=1362074486&autoembed=true&width=640&height=360&"></script>
					</div>
				</section>
				<dl id="respostas">
					[#challenges#]
				</dl>

			<section id="tudo_sobre">
				<article>
				<h3>Veja tudo sobre o [#theme#]</h3>
				<nav><a href="" id="onlyVideo">Só vídeo</a> | <a href="" id="onlyText">Só texto</a> | <a href="" id="onlyImage">Só images</a></nav>
				<br class="tudo">
				<div>
					[#allFiles#]
				</div>
				</article>
			</section>
			<br class="tudo"><br><br>
			<section id="outros_temas">
				<h3>Outros temas</h3>
				<p>Um pequeno texto que vai explicar o que é isso.</p>
				<form>
				<input type="text" id="inputSearch" placeholder="Busque outros temas"><span>Buscar</span>
				</form>
				<img src="/images/bot_ver_temas.gif" align="absmiddle" width="140" height="36" alt="Ver mais temas">
				<br class="tudo">
				<div class="otherThemes">
					<span id="themeList"></span>
				</div>
				<br class="tudo">
				<p>&nbsp;</p>
			</section>

		[#footer#]
	</body>
</html>