<html>
	<head>
		[#head#]
		<script type="text/javascript" src="/js/hotsite/theme.js"></script> 
	</head>
<body id="tema">
[#header#]
<section id="explica">
<div>
<a href="/" id="link_wikidu"><img src="/images/wikidu_branco.gif" width="85" height="112" alt="Wikidu"></a>
<img src="[#image#]" id="icone_tema">
<h3><small>Tema</small><br><span>[#theme#]</span></h3>
<br class="tudo">
<p id="num_desafios"><strong>[#num_subgroups#]</strong><br>desafios</p>
<p id="disclaimmer">[#disclaimmer#]</p>
</div>
</section>
<br class="tudo">

<ul id="respostas">
[#challenges#]
</ul>

<br class="tudo">
			<!--section id="tudo_sobre">
				<article>
				<h3>Veja tudo sobre o [#theme#]</h3>
				<nav><a href="" id="onlyVideo">Só vídeo</a> | <a href="" id="onlyText">Só texto</a> | <a href="" id="onlyImage">Só images</a></nav>
				<br class="tudo">
				<dl id="todas">
				[#allFiles#]
				</dl>
				</article>
			</section-->
			<br class="tudo"><br><br>
			<section id="outros_temas">
				<h3>Outros temas</h3>
				<p>No WiKidu tem muito mais pra você aprender e participar</p>
				<form onsubmit="jubileu(); return false">
				<input type="text" id="searchInput" placeholder="Busque outros temas"><span id="searchBottom">Buscar</span>
				<input type="submit" name="enviar" value="enviar">
				</form>
				<a href="/"><img src="/images/bot_ver_temas.gif" align="absmiddle" width="140" height="36" alt="Ver mais temas"></a>
				<br class="tudo">
				<div class="otherThemes" id="themeList">
				</div>
				<br class="tudo">
				<p>&nbsp;</p>
			</section>
		</section>
		[#footer#]
	</body>
</html>