<html>
	<head>
		[#head#]
		<script type="text/javascript">
			$(document).ready(function() {
				login();
			});
		</script>
	</head>
	<body>
		<div id="fb-root"></div>
		<script>
		  // Additional JS functions here
		  window.fbAsyncInit = function() {
		    FB.init({
		      appId      : '269116149888237', // App ID
		      channelUrl : '//WWW.FUTBOOKING.COM/channel.html', // Channel File
		      status     : true, // check login status
		      cookie     : true, // enable cookies to allow the server to access the session
		      xfbml      : true  // parse XFBML
		    });

		    // Additional init code here
		    FB.getLoginStatus(function(response) {
				  if (response.status === 'connected') {
				  	$('#AccessToken').val(response.authResponse.accessToken);
				    // connected
				  } else if (response.status === 'not_authorized') {
				    // not_authorized
				  } else {
				    // not_logged_in
				  }
			});

		  };

		  // Load the SDK Asynchronously
		  (function(d){
		     var js, id = 'facebook-jssdk', ref = d.getElementsByTagName('script')[0];
		     if (d.getElementById(id)) {return;}
		     js = d.createElement('script'); js.id = id; js.async = true;
		     js.src = "//connect.facebook.net/en_US/all.js";
		     ref.parentNode.insertBefore(js, ref);
		   }(document));


		  function buscaDadosFb() {
			    FB.api('/me?fields=picture,name,email,id,birthday,gender', function(response) {
			    //caso já esteja cadstrado logo o usuario
		    	$.ajax({
					url: '/action/loginfb/',
					type: 'POST',
					async:false,
					data: { 
	      					facebook_id: response.id    
	     				},
				        success: function(json) {
				        	dados = json.split(";");
				        	//caso tenha logado
				        	if(dados[0] == 'sucesso') {
				        		window.location = '/perfil';
				        	} else {

								//caso contrario preenche os valores
								$('#nome').attr('value',response.name);
						        $('#email').attr('value',response.email);
						        $('#reemail').attr('value',response.email);
						        $('#facebook_id').attr('value',response.id);

						        if(response.gender == 'male') {
						        	$('#sexo').attr('value','m');
						        } else {
						        	$('#sexo').attr('value','f');
						        }

								date = response.birthday.split('/');
						        $('#dia_nascimento').attr('value',date[1]);
						        $('#mes_nascimento').attr('value',date[0]);
						        $('#ano_nascimento').attr('value',date[2]);


						        //marco os campos que devem ser preenchidos
						        $('#senha').css('backgroundColor','rgb(255, 245, 175);');
						        $('#resenha').css('backgroundColor','rgb(255, 245, 175);');

						        //busco a foto do perfil
			        			FB.api({
						                method: 'fql.query',
						                query: 'SELECT pid, src_big, src_big_height, src_big_width FROM photo WHERE aid IN ( SELECT aid FROM album WHERE owner="' + response.id + '" AND name = "Profile Pictures")'
						            },
						            function(data1) {
						            	$('#foto').attr('value',data1[1].src_big);	
						            });
				        	}
				        }
					});
				});
			}

			function login() {
			    FB.login(function(response) {
			        if (response.authResponse) {
			            // connected
						buscaDadosFb();
			        } else {
			            // cancelled
			        }
			    }, {scope: 'email,user_birthday,user_photos,publish_actions,publish_stream,publish_checkins'});
			}


		</script>

		<div id="content">
			<a href="javascript:login();">Entrar com a conta do Facebook</a>
		</div>	
	</body>
</html>