<html>
<head>
[#head#]
<script type="text/javascript" src="/js/raphael/raphael-min.js"></script>
<script type="text/javascript" src="/js/raphael/rgbcolor.js"></script>
<script type="text/javascript" src="/js/raphael/canvg.js"></script>
<script type="text/javascript" src="/js/raphael/raphael-to-svg.js"></script>
<script type="text/javascript" src="/js/raphael/colorwheel.js"></script>
<script type="text/javascript" src="/js/raphael/draw.js"></script>
</head>

<body id="edita_avatar">
[#header#]
<section>
<form method="post" action="/profile/salvarAvatar" id="salva_avatar" enctype="multipart/form-data">
<h3>[#name_user#]</h3>
<br class="tudo">
<p>Desenhe seu avatar no espaço abaixo. <br>
Ele vai aparecer ao lado do seu nome sempre que você responder a algum desafio ou que visitarem sua página. Por isso, capriche!
</p>
<p>
Use os ferramentas ao lado para mudar de cor ou trocar a largura do lápis de desenho.
</p>
<div id="canvaswrapper">
<div id="canvas"></div>
</div>

<canvas id='realcanvas' width='500px' height='500px' style='border: 1px solid black;'></canvas>
<input type="hidden" id="draw-image-result" name="draw-image-result" value="">
<input type="hidden" name="conteiner_guid" value="elgg_get_page_owner_guid()"><!-- veja o que essa função pega -->

<aside class="draw-sidebar">
<fieldset>
<b>Cor:</b><span id="colorSelector-sample"></span><br><br>
<div id="colorSelector"></div>
<br><br>
<b>Tamanho do pincel:</b><span id="lineWidth-sample">1</span><br><br>
<div id="draw-slider"></div>
</fieldset>
<br><br>
<span class="botao" id="salvar_imagem">Salvar </span><br><br><br><br><br>
<span id="draw-reset" class="botao2">Limpar tela</span>
</aside>
</form>
</section>
[#footer#]
</body>
</html>