<html>
	<head>
		[#head#]
		<script type="text/javascript" src="/js/hotsite/signup.js"></script> 
	</head>
	<body  id="opine">
		[#top#]
		<section id="container">
			<h2>Opine</h2>
			<form id="mensagem">
			<fieldset>
			<label>[!name!]</label><br>
			<input class="input" type="text"  id="name">
			<span class="erro" id="name-erro">[!name-empty!]</span><br>

			<label>[!email!]</label><br>
			<input class="input" type="text"  id="email">
			<span class="erro" id="email-erro">[!email-empty!]</span><br>

			<label>[!message!]</label><br>
			<textarea id="message" name="message"></textarea>
			<span class="erro" id="father-email-erro">[!father-email-empty!]</span><br>

			<span id="sendMessage" class="botao">[!send!]</span><br>
			</fieldset>

			<article>
			<p>Precisa de uma ajuda, quer dizer o que achou? Quer compartilhar sua experiência? Ajuda o Kidu a ser a referência mais inteligente da internet compartilhando com a gente o que você quer.

			<p>Se preferir, mande mensagem para <a href="mailto:info@kidu.com.br">info@kidu.com.br</a></p>
			</article>

			</form>
			<br class="tudo">
		</section>
		[#footer#]
	</body>
</html>