<html>
	<head>
		[#head#]
		<script type="text/javascript" src="/js/hotsite/theme.js"></script> 
	</head>
	<body id="bodyHome" >
	    <nav>
	      <ul>
	        <li><a href="/fathers">Para Pais</a></li>
	        <li><a href="/teachers">Para Educadores</a></li>
	      </ul>
	    </nav>

    	<div id="homeLogo"><img src="/images/marca_kidu_home.gif" alt="Kidu" width="463" height="168"></div>

		<form id="busca_home">
		<input type="text" id="searchInput" value="[#search#]" placeholder="  Encontre temas" />
			<span class="botao2" id="homeSearch">Buscar</span>
		</form>

		<div id="themeList">
			
		</div>
	</body>
</html>