<html>
<head>
[#head#]
<script type="text/javascript" src="/js/hotsite/theme.js"></script> 
</head>
<body id="bodyHomeLogado">
[#top#]

<form id="busca_home" action="/hotsite/home" method="POST" >
<dl>
<dt><a href="/home"><img src="/images/planeta_wikidu.gif" width="80" height="73"><br>WiKidu</a></dt>
<dd>
<p>No que você quer ficar fera?</p>
<input type="text" id="searchInput" name="searchInput" value="[#search#]" placeholder="  Encontre temas" />
<span class="botao2" name="homeSearch" id="homeSearch">Buscar</span>
</dd>
</dl>
</form>
<br class="tudo">
<section id="themeList"> </section>
<p><br class="tudo"></p>
[#footer#]
</body>
</html>