<html>
	<head>
		[#head#]
		<script type="text/javascript" src="/js/hotsite/home.js"></script> 
	</head>
	<body id="homeLogada" >
		[#header#]
		<section id="container">
			<section class="logo">
				<img src="/images/marca_kidu_home.gif" alt="Kidu" width="463" height="168">
			</section>
			<section id="homeSearch">
				<input type="text" id="inputSearch" value="Insira o tema que deseja buscar" />
				<input type="button" value="Buscar" class="buttonGrey" />
			</section>

			<section id="themeList">
				<a href="/theme/1"><div>Theme 1</div></a>
				<a href="/theme/2"><div>Theme 2</div></a>
				<a href="/theme/3"><div>Theme 3</div></a>
			</section>

		</section>
		[#footer#]
	</body>
</html>