
<html>
  <head>
    [#head#]
    <script type="text/javascript" src="/js/hotsite/signup.js"></script> 
  </head>

<body id="cadastro">
	[#top#]


<br class="tudo">
<section>
<h2><span>Cadastro</span></h2>
<form id="signup">
<fieldset>
<h4>Crie uma conta</h4><br>
<label>[!name!]</label><br>
<input class="input" type="text"  id="name">
<span class="erro" id="name-erro">[!name-empty!]</span><br>

<label>[!username!]</label><br>
<input class="input" type="text"  id="username">
<span class="erro" id="username-erro">[!username-empty!]</span><br>

<label>[!email!]</label><br>
<input class="input" type="text"  id="email">
<span class="erro" id="email-erro">[!email-empty!]</span><br>

<label>[!father-email!]</label><br>
<input class="input" type="text"  id="father-email">
<span class="erro" id="father-email-erro">[!father-email-empty!]</span><br>

<label>[!password!]</label><br>
<input class="input" type="password" id="password">
<span class="erro" id="password-erro">[!password-empty!]</span> <br>

<label>[!repassword!]</label><br>
<input class="input" type="password"  id="repassword">
<span class="erro" id="repassword-erro">[!repassword-empty!]</span> <br>

<span id="sendSignup" class="botao">[!signup!]</span><br>
<p>Ao clicar em <em>Cadastrar</em> eu concordo com os <a href="">Termos de uso</a>.</p>
</fieldset>

<article>
<h3>Lorem ipsium aos osos da asdasd asd asdas asdad asdasdas.</h3>
<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas interdum volutpat leo, at tincidunt lacus varius varius.</p>
</article>

</form>
<br class="tudo">
</section>

</body>
</html>