a {
	color: #FFF;
	text-decoration: none;
}
body {
	font-family: 'normal arial', sans-serif;
	margin: 0px;
	padding: 0px;
	font-size: 14px;
	background-repeat:repeat-x;
	background-color: #FFFFFF;
	color: #504194;
}

img {
border: 0;
}

h2 {
	display: block;
	font-family: 'normal arial', sans-serif;
	font-size: 38px;
	margin: 0px 0px 20px 0px;
	padding: 0px 0px 0px 0px;
}
h3 {
	display: block;
	font-family: 'normal arial', sans-serif;
	font-size: 35px;
	margin: 0px 0px 0px 0px;
	padding: 0px 0px 0px 0px;
}

br.tudo {
clear: both;
}

#link_wikidu {
float: left;
}

header {
background-color: #504194;
margin: 0;
padding: 5px 0;
position: fixed;
width: 100%;
top: 0;
z-index: 400;
font-family: 'Tahoma', arial, sans-serif;
}

header #opine {
position: absolute;
left: 0;
top: 200px;
background-color: #504194;
padding: 20px 0;
width: 40px;
border-bottom: 6px solid #352E68;
cursor: pointer;
transition: all .5s;
text-align: center; 
}

header #opine:hover {
width: 60px;
}

header>div {
width: 950px;
margin: 0 auto;
text-align: left;
}

header form#busca {
float: left;
margin: 5px 0 0 0;
padding: 0;
}

header form#busca input[type="text"]{
padding: 7px 10px;
width: 175px;
border-radius: 5px;
margin: 2px 4px 0 0;
}

header form#busca span{
background-color: white;
color: black;
padding: 8px 13px;
border-radius: 5px;
cursor: pointer;
margin-top: 2px;
}

header form#busca h1{
padding: 0;
margin: 0 15px 0 0;
font-size: 30px;
float: left;
}

header form#busca h1 img{
vertical-align: middle;
}

header nav {
float: right;
color: #886CFF;
padding-top: 15px;
}

header nav a{
margin: 0 7px;
color: white;
font-size: 90%;
}

header #wikidu {
margin-left: 150px;
margin-top: 10px;
display: block;
float: left;
}

header #wikidu img{
vertical-align: middle;
margin: 0 5px 0 0;
}
/*header div div{
float: right;
color: white;
margin: 10px 5px 0 0;
}

header div div img{
float: left;
vertical-align: top;
margin-right: 5px;
}

header div div a{
color: white;
font-size: 90%;
}*/

#bodyHome nav {
width: 940px;
margin: 0 auto 60px;
font-size: 90%;
padding-top: 15px;
height: 70px;
}

#bodyHome nav a{
margin-right: 30px;
text-decoration: underline;
}

#bodyHome nav > ul {
	list-style: none;
	padding: 0px;
	margin: 0px;
}

#bodyHome nav > ul li{
	display: inline-block;
	padding: 10px;
}
#areaMenu {
	width:668px;
	display: inline-block;
	text-align: right;
}
#areaMenu li{
	text-align: center;
}
#areaMenu a{
	text-decoration: underline;
}

#bodyHome {
font-family: 'normal arial', sans-serif;
margin: 0px;
padding: 0px;
font-size: 14px;
background-repeat:repeat-x;
background-color: #504194;
color: #FFFFFF;
}

#bodyHome form {
background-color: #F5F5F5;
margin: 50px auto 0;
width: 380px;
border-radius: 5px;
box-shadow: 2px 5px 4px #444444;
padding: 20px 0 40px;
}

#bodyHome section {
width: 380px;
text-align: right;
line-height: 20px;
font-size: 90%;
margin: 10px auto;
text-decoration: underline;
}

#bodyHome form a{
float: right;
color: #797a7d;
padding: 20px 20px;
}

#bodyHome form label{
color: #504194;
font-size: 100%;
padding: 0;
margin: 0 30px;
display: inline;
text-align: left;
line-height: 1.9em;
}

#bodyHome form input[type="text"], #bodyHome form input[type="password"]{
width: 330px;
margin: 0 20px 20px;
font-size: 120%;
padding: 4px 8px;
border: 1px solid silver;
border-radius: 4px;
}

#bodyHome form input[type="submit"]{
opacity: 0;
}

#bodyHomeLogado form dl {
margin: 0;
padding: 0;
}

#bodyHomeLogado form dl dt {
width: 120px;
float: left;
margin: 0;
padding: 0;
text-align: center;
font-size: 130%;
}

#bodyHomeLogado form dl dd {
margin: 0;
padding: 0;
width: 650px;
color: #8E8E8E;
float: left;
}

#bodyHomeLogado form dl dd p{
margin-left: 100px;
}

#bodyHomeLogado form dl dt a{
color: #504194;
}

#bodyHomeLogado form dl dt a img{
border: 0;
}

#bodyHomeLogado form#busca_home {
background-color: transparent;
margin: 50px auto 0;
width: 800px;
border-radius: 0;
box-shadow: none;
padding: 20px 0 40px;
}

#bodyHomeLogado form#busca_home input{
height: 35px;
border-radius: 5px;
width: 400px;
display: auto;
padding-left: 10px;
}

#bodyHomeLogado header input, #bodyHomeLogado #wikidu, #bodyHomeLogado #topSearch{
display: none;
}

#themeList {
width: 900px;
margin: auto;
}

#themeList>ul{
margin: 0;
padding: 0;
}

#themeList>ul li{
list-style-type: none;
width: 250px;
border: 1px solid silver;
background-color: white;
float: left;
list-style-type: none;
text-align: center;
margin: 0 15px 15px 0;
}

#themeList>ul li:hover{
background: radial-gradient(ellipse at center, rgba(255,255,255,1) 0%, rgba(255,255,255,1) 64%, rgba(219,219,219,1) 100%);
}

#themeList>ul li figure{
width: auto;
margin: 0;
padding: 0;
}

#themeList>ul li figure figcaption{
text-align: left;
padding: 10px 15px;
}

#themeList>ul li figure figcaption a {
color: gray;
font-size: 100%;
font-weight: bold;
text-decoration: none;
}

#themeList a img{
margin: 10px;
}

#themeList dl dt{
float: left;
font-size: 140%;
text-align: right;
padding-left: 30px;
}

#themeList dl dt a{
color: #504194;
}

#themeList dl dt img{
margin-bottom: 10px;
}

#themeList dl dd{
width: 500px;
font-size: 120%;
float: left;
border-left: 2px solid #504194;
}

#themeList dl dd ul{
padding: 0 0 0 20px;
}

#themeList dl dd ul li{
padding: 5px 15px;
margin-bottom: 15px;
list-style-type: none;
}

#themeList dl dd ul li:hover{
background-color: #FCFFC6;
}

#themeList dl dd ul li a{
color: black;
}

/********* Footer ***********/

footer#info {
height: 80px;
background-color: blue;
width: 100%;	
}

footer#avatar {
background-color: #c2d4ed;
position: fixed;
bottom: 0;
width: 100%;
height: 200px;
z-index: 900;
background: transparent url('../imagens/fundo_footer.gif') repeat-x 0 100%;
}

footer#avatar dl {
margin: 0 20px 0 0;
padding-bottom: 20px;
}

footer#avatar dl dt{
float: right;
}

footer#avatar dl dd{
float: right;
text-align: right;
margin-right: 20px;
font-size: 90%;
color: #504194;
font-weight: bold;
line-height: 180%;
padding-top: 80px;
}

footer#avatar dl dd img{
vertical-align: middle;
}

footer#avatar dl dd h5{
text-align: right;
font-size: 130%;
color: #504194;
}

footer#logado {
position: fixed;
bottom: 0;
width: 100%;
}

footer#logado>div{
width: 940px;
margin: 0 auto;
}

footer#logado>div div{
float: right;
background-color: #e8e8e8;
border-top-right-radius: 8px;
border-top-left-radius: 8px;
padding: 10px 20px;
color: #504194;
text-align: left;
width: 200px;
}

footer#logado>div div span{
float: right;
}

footer#logado>div div a{
color: #504194;
font-size: 90%;
text-decoration: underline;
}

footer#logado>div div strong a{
text-decoration: none;
}

.botao {
padding: 12px 30px;
border-radius: 5px;
background: transparent url('../images/fundo_botoes.jpg') repeat-x 0 0; 
font-size: 100%;
font-weight: bold;
cursor: pointer;
color: white;
}

.botao2 {
padding: 12px 30px;
border-radius: 5px;
background: transparent url('../images/fundo_botoes_cz.jpg') repeat-x 0 0; 
font-size: 100%;
font-weight: bold;
cursor: pointer;
color: #504194;
}

#homeLogo {
text-align: center;
color: #FFF;
font-size: 250px;
font-weight: bold;
position: relative;
width: 470px;
margin: 0 auto;
}

#homeLogo .selo{
position: absolute;
right: -150px;
top: -80px;
}

#mainMenu {
	display: inline-block;
	text-align: right;
	width: 868px;
}
#sendSignin {
margin: 30px 245px 10px;
}

/**********   Tema    *************/

#tema {
padding-top: 55px;
}

#tema #explica {
text-align: left;
width: auto;
margin: 0;
background-color: #F5F5F5;
}

#tema #explica>div {
width: 940px;
margin: 0 auto;
position: relative;
padding-bottom: 20px;
}

#tema #explica>div img#icone_tema{
margin: 15px 0 0 15px;
float: left;
}

#tema #explica h3{
color: #9087BC;
font-size: 250%;
padding: 15px 0;
margin: 0;
border-bottom: 1px solid white;
width: 620px;
float: left;
}

#tema #explica h3 span{
margin-left: 15px;
}

#tema #explica h3 small{
font-size: 20px;
margin-left: 15px;
}

#tema #explica p#num_desafios{
color: #504194;
text-align: center;
width: 100px;
float: left;
font-weight: bold;
position: absolute;
bottom: 30px;
left: 350px;
}

#tema #explica p#num_desafios strong{
font-size: 400%;
line-height: 90%;
}

#tema #explica p#disclaimmer{
border: 1px solid #504194;
border-radius: 20px;
background-color: white;
padding: 20px;
color: #504194;
font-size: 120%;
width: 300px;
position: absolute;
bottom: 30px;
right: 100px;
}

#tema #explica>a{
float: right;
color: #797A7D;
size: 85%;
}

#tema #respostas {
width: 940px;
margin: 0 auto;
text-align: left;
}

#tema>ul#respostas li{
list-style-type: none;
width: 250px;
height: 300px;
border: 1px solid silver;
background-color: white;
float: left;
list-style-type: none;
text-align: center;
margin: 0 15px 15px 0;
position: relative;
}

#tema>ul#respostas li:hover{
background: radial-gradient(ellipse at center, rgba(255,255,255,1) 0%, rgba(255,255,255,1) 64%, rgba(219,219,219,1) 100%);
}

#tema>ul#respostas li figure{
width: auto;
margin: 20px 0 0 0;
padding: 0;
}

#tema>ul#respostas li div{
width: 200px;
height: 200px;
background: #f9c667; /* Old browsers */
background: linear-gradient(135deg, rgb(251,176,59) 0%,rgb(252,238,33) 100%);
position: relative;
overflow: hidden;
cursor: pointer;
margin-left: 20px;
}

#tema>ul#respostas li div p{
height: 180px;
width: 180px;
position: absolute;
right: 0;
bottom: 0;
background: transparent url('../images/fundo_caixa_texto.png') no-repeat 0 0;
overflow: hidden;
padding: 0;
margin: 0;
}

#tema>ul#respostas li div p span{
padding: 60px 0 0 0;
margin-left: 70px;
width: 300px;
color: #225196;
font-family: 'Gochi Hand', cursive;
display: block;
font-size: 140%;
}

#tema>ul#respostas li div p span:first-letter{
text-transform: uppercase;
font-size: 300%;
line-height: .3em;
}

#tema>ul#respostas li figure figcaption{
text-align: left;
padding: 10px 15px;
font-size: 120%;
color: black;
font-weight: bold;
}

#tema>ul#respostas li figure figcaption small {
color: gray;
font-size: 70%;
font-weight: bold;
text-decoration: none;
position: absolute;
bottom: 10px;
right: 20px;
background-color: rgba(255,255,255,.6);
}

#tema>ul#respostas li figure figcaption img{
margin: 10px;
}

/*
#tema #respostas dt{
margin: 30px 0 0 0;
padding: 0;
clear: left;
}

#tema #respostas dt h3{
color: #504194;
font-size: 250%;
padding: 0;
margin: 0;
}

#tema #respostas dt p{
width: 450px;
font-size: 110%;
color: #797a7d;
}

#tema #respostas dt>div{
float: right;
text-align: right;
}

#tema #respostas dt>div a{
color: #797a7d;
font-size: 90%;
}
*/
/****  Scroll horizontal das respostas  ****/

/*
#tema #todas dd.caixa, #respostas dd.caixa{
margin: 20px 0 50px;
padding: 0 0 20px;
float: left;
overflow-x: scroll;
overflow-y: hidden;
width: 90%;
transition: all 1s;
}

#tema #todas dd.sombra_esquerda, #respostas dd.sombra_esquerda{
margin: 0;
padding: 0;
width: 4%;
height: 385px;
float: left;
position: relative;
transition: all 1s;
opacity: 0;
}

#tema #todas dd.sombra_direita, #respostas dd.sombra_direita{
margin: 0;
padding: 0;
width: 4%;
height: 385px;
float: left;
position: relative;
transition: all 1s;
}

#tema #todas dd.sombra_direita div, #respostas dd.sombra_direita div, #tema #todas dd.sombra_esquerda div, #respostas dd.sombra_esquerda div{
height: 385px;
position: absolute;
width: 38px;
z-index: 300;
}

#tema #todas dd.sombra_direita div, #respostas dd.sombra_direita div {
left: -7px;
background: transparent url('../images/seta_rolagem-dir.png') no-repeat 0 0;
cursor: pointer;
}

#tema #todas dd.sombra_esquerda div, #respostas dd.sombra_esquerda div {
right: -7px;
background: transparent url('../images/seta_rolagem-esq.png') no-repeat 0 0;
cursor: pointer;
}

#tema #todas dd.sem_scroll, #respostas dd.sem_scroll{
overflow-x: hidden;
overflow-y: hidden;
width: 940px;
margin: 0;
padding: 0;
}

#tema #todas {
width: 940px;
}

.noAswers {
border: solid 1px #ccc;
padding: 50px;
width: 750px;
margin-bottom: 20px;
}

*/
/******* figure resposta ********/

figure.resposta{
border: 1px solid #ddd;
padding: 5px;
float: left;
background-color: white;
margin: 0 15px 15px 0;
height: 330px;
position: relative;
}

figure.resposta img{
cursor: pointer;
}

figure.resposta img#medalha{
position:absolute;
top: -8px;
left: -8px;
}

figure.resposta figcaption{
padding: 5px;
font-size: 90%;
color: #ddd;
position: relative;
}

figure.resposta figcaption strong.removido{
color: #504194;
padding: 9px 0 6px;
display: inline-block;
}

figure.resposta figcaption strong time{
margin-top: 10px;
display: block;
}

figure.resposta figcaption a{
color: #ddd;
}

figure.resposta figcaption img{
vertical-align: middle;
}

figure.resposta.oculto figcaption strong{
color: #504194;
font-size: 130%;
}

figure.resposta.oculto figcaption a{
float: right;
color: black;
text-decoration: underline;
margin-top: 20px;
}

figure.resposta.oculto figcaption span.aviso{
position: absolute;
width: 200px;
padding: 15px;
background-color: #F5F5F5;
bottom: 0;
display: none;
z-index: 800;
border-radius: 5px;
border: 1px solid silver;
color: #504194;
box-shadow: 2px 2px 2px #B5B5B5;
}

figure.resposta.oculto figcaption span.aviso strong{
background-color: gray;
float: right;
font-size: 80%;
padding: 3px;
color: white;
margin-bottom: 5px;
}

figure.resposta.oculto img{
opacity: .5;
}

figure.resposta div{
width: 285px;
height: 285px;
background: #f9c667; /* Old browsers */
background: linear-gradient(135deg, rgb(251,176,59) 0%,rgb(252,238,33) 100%);
position: relative;
overflow: hidden;
cursor: pointer;
}

figure.resposta div p{
height: 204px;
width: 222px;
position: absolute;
right: 0;
bottom: 0;
background: transparent url('../images/fundo_caixa_texto.png') no-repeat 0 0;
overflow: hidden;
padding: 0;
margin: 0;
}

figure.resposta div p span{
padding: 60px 0 0 0;
margin-left: 70px;
width: 300px;
color: #225196;
font-family: 'Gochi Hand', cursive;
display: block;
font-size: 140%;
}

figure.resposta div p span:first-letter{
text-transform: uppercase;
font-size: 300%;
line-height: .3em;
}

#tema #tudo_sobre {
text-align: left;
width: 940px;
margin: 0 auto 80px;
}

#tema #tudo_sobre nav{
float: right;
color: #ddd;
}

#tema #tudo_sobre nav a{
margin: 0 10px;
color: #797a7d;
font-size: 90%;
}

#tema #tudo_sobre h3 {
color: #504194;
font-size: 250%;
padding: 0;
margin: 0;
}

#tema #tudo_sobre>div {
margin-top: 20px;
}

#tema #outros_temas {
width: 940px;
margin: 40px auto;
text-align: left;
clear: both;
}

#tema #outros_temas h3 {
color: #504194;
font-size: 250%;
padding: 0;
margin: 0;
width: 280px;
float: left;
}

#tema #outros_temas>span {
float: right;
cursor: pointer;
}

#tema #outros_temas>p {
width: 180px;
font-size: 110%;
color: #797a7d;
float: left;
margin: 0;
padding: 0;
}

#tema #outros_temas>form {
margin: 0 0 0 20px;
float: left;
}

#tema #outros_temas>form input[type="text"]{
padding: 10px;
width: 175px;
border-radius: 5px;
margin: 2px 4px 0 0;
border: 1px solid #797a7d;
}

#tema #outros_temas>form input[type="submit"]{
display: none;
}

#tema #outros_temas>form span{
background-color: white;
color: black;
padding: 11px 13px;
border-radius: 5px;
cursor: pointer;
margin-top: 2px;
border: 1px solid #797a7d;
}

#tema #outros_temas article {
float: left;
margin-top: 20px;
}

/**************** Cadastro *********************/

#cadastro input[type=text],
#cadastro input[type=password] {
width: 200px;
border: 0;
border-radius: 7px;
background-color: #FFFFFF;
padding: 7px 10px;
font-size: 14px;
color: #999999;
border: inset 2px #a7b5dd;
}

#cadastro {
padding-top: 50px;
}

#cadastro header{
margin-bottom: 110px;
}

#cadastro section {
width: 100%;
background: #F5F5F5 url('../images/fundo_pontilhado.gif') repeat-x 0 0;
padding: 0 0 40px 0;
position: relative;
}

#cadastro section h2{
width: 940px;
margin: 0 auto 0;
background: transparent url('../images/tit_cadastro.gif') no-repeat 10px 37px;
height: 153px;
}

#cadastro section h2 span{
float: left;
visibility: hidden;
}

#cadastro #signup {
width: 940px;
margin: 0 auto 40px;
}

#cadastro #signup fieldset{
border: solid 1px #E2E2E2;
width: 540px;
float: left;
background-color: white;
margin-right: 40px;
}

#cadastro #signup fieldset h4{
color: #c0bdc9;
font-size: 140%;
margin: 30px 0 15px 60px;
font-weight: normal;
}

#cadastro #signup fieldset p{
font-size: 90%;
color: #c8c6cf;
clear: left;
text-align: right;
margin: 0 60px 20px 0;
padding: 0 0 20px 0;
line-height: .1em;
}

#cadastro #signup fieldset p a{
color: #504194;
}

#cadastro #signup fieldset label{ 
width: 160px;
margin-left: 60px;
}

#cadastro #signup fieldset input[type=text],
#cadastro #signup fieldset input[type=password] {
width: 420px;
margin: 0 0 22px 60px;
}

#cadastro #signup fieldset #sendSignup {
margin: 15px 0 20px 352px;
cursor: pointer;
float: left;
}

#cadastro #signup article {
margin-left: 30px;
color: black;
}

#cadastro #signup article h3{
color: #504194;
}

/**************** opine *********************/

#opine header #opine {
display: none;
}

#opine input[type=text],
#opine textarea {
width: 420px;
margin: 0 0 22px 60px;
border: 0;
border-radius: 7px;
background-color: #FFFFFF;
padding: 7px 10px;
font-size: 14px;
color: #999999;
border: inset 2px #a7b5dd;
}

#opine {
padding-top: 50px;
}

#opine header{
margin-bottom: 110px;
}

#opine section {
width: 100%;
padding: 0 0 40px 0;
position: relative;
}

#opine section h2{
width: 940px;
margin: 0 auto 0;
padding: 30px 0 20px;
}

#opine section h2 span{
float: left;
visibility: hidden;
}

#opine #mensagem {
width: 940px;
margin: 0 auto 40px;
}

#opine #mensagem fieldset{
border: solid 1px #E2E2E2;
width: 540px;
float: left;
background-color: #F5F5F5;
margin-right: 40px;
padding: 30px 0 10px;
}

#opine #mensagem fieldset h4{
color: #c0bdc9;
font-size: 140%;
margin: 30px 0 15px 60px;
font-weight: normal;
}

#opine #mensagem fieldset p{
font-size: 90%;
color: #c8c6cf;
clear: left;
text-align: right;
margin: 0 60px 20px 0;
padding: 0 0 20px 0;
line-height: .1em;
}

#opine #mensagem fieldset p a{
color: #504194;
}

#opine #mensagem fieldset label{ 
width: 160px;
margin-left: 60px;
}

#opine #mensagem fieldset .botao {
margin: 15px 0 20px 352px;
cursor: pointer;
float: left;
}

#opine #mensagem article {
margin-left: 30px;
color: black;
}

#opine #mensagem article h3, #opine #mensagem article a{
color: #504194;
}

#teamKidu {
text-align: center;
border: #f37d37 4px solid;
padding: 10px;
background-color: yellow;
border-radius: 10px;
}
#teamKidu a{
	color: red;
	font-weight: bold;
}
#userMenu {
	display: inline-block;
	padding-left: 10px;
	vertical-align: top;
}
#userData {
	display: inline-block;
	padding-top: 10px;
	vertical-align: middle;
}
#userMenu li {
	display: block;
	line-height: 18px;
	padding: 0px;
	font-size: 14;
}
.avatar_small {
	width: 38px;
	height: 38px;
	display: inline-block;
}
.bluebox {
	border: solid 1px;
	border-radius: 15px;
	padding: 20px;
	background-color: #c2d4ed;
	background-color: rgba(209, 224, 245, 0.22);
	line-height: 20px;
}
.center {
	text-align: center;
}
.erro {
	display: none;
	position: absolute;
	background-color: rgb(255, 250, 250);
	padding: 0px;
	margin-top: 7px;
	padding-left: 27px;
	padding-right: 10px;
	border-radius: 7px;
	color: rgb(216, 75, 75);
	border: solid 1px rgb(229, 170, 170);
	line-height: 35px;
	background-image: url('../images/icon-error.gif');
	background-repeat: no-repeat;
	background-position-x: 5px;
	background-position-y: 10px;
}

/******  Desafio ******/

body#desafio {
padding: 55px 0 0;
}

#desafio section{
width: 100%;
background-color: #F5F5F5;
padding-bottom: 30px;
}

#desafio section>div{
width: 940px;
margin: 0 auto;
}

#desafio section h3 {
padding: 20px 0 8px 13px;
float: left;
color: #9087bc;
border-bottom: 2px solid white;
width: 715px;
font-size: 200%;
}

#desafio h3 span{
font-size: 60%;
}

#desafio h3 a{
color: #9087bc;
}

#desafio #icone_tema {
float: left;
margin: 10px 0 0 10px;
}

#desafio h2 {
padding: 10px 20px;
float: left;
width: 700px;
font-size: 130%;
font-weight: normal;
text-align: center;
}

#desafio h2 span{
font-size: 60%;
}

#desafio h2 a#botao_desafio_anterior {
float: left;
margin-right: 15px;
display: block;
border-radius: 10px;
border: 2px solid #F5F5F5;
padding: 2px 4px;
}

#desafio h2 a#botao_desafio_anterior:hover {
border: 2px solid white;
}

#desafio h2 a#botao_desafio_anterior span{
font-size: 10px;
display: block;
float: right;
color: #9087BC;
margin: 4px 0 0 5px;
line-height: 1em;
}

#desafio h2 a#botao_proximo_desafio{
float: right;
margin-left: 15px;
border-radius: 10px;
border: 2px solid #F5F5F5;
padding: 2px 4px;
}

#desafio h2 a#botao_proximo_desafio:hover{
border: 2px solid white;
}

#desafio h2 a#botao_proximo_desafio span{
font-size: 10px;
display: block;
float: left;
color: #9087BC;
margin: 4px 5px 0 0;
text-align: right;
line-height: 1em;
}

#desafio h2 a img{
vertical-align: top;
}

#desafio article#explica {
margin-bottom: 40px;
}

#desafio article#explica #disclaimer {
clear: left;
width: 380px;
margin-left: 100px;
}

#desafio article#explica form {
float: right;
width: 380px;
border: 1px solid #504194;
border-radius: 25px;
margin: 0 100px 0 0;
background-color: white;
padding: 0;
text-align: center;
}

#desafio article#explica form fieldset{
border: 0;
padding: 20px 0;
}

#desafio article#explica form fieldset>p{
font-size: 120%;
margin: 20px 0;
}

#desafio article#explica form fieldset div {
position: relative;
width: 300px;
margin: 0 auto;
}

#desafio article#explica form fieldset#acoes div{
background-color: #EFEFEF;
padding: 20px 0;
position: relative;
}

#desafio article#explica form fieldset#acoes div p{
margin: 10px 0 20px;
}

#desafio article#explica form fieldset div input{
position: absolute;
left: 50px;
bottom: 27px;
opacity: 0;
cursor: pointer;
width: 195px;
margin-top: -17px;
padding: 10px 15px;
background-color: blue;
}

#desafio article#explica form fieldset div textarea{
padding: 10px;
width: 250px;
margin: 20px auto 30px;
border-radius: 10px;
border: 1px solid silver;
}

#desafio #respostas {
width: 940px;
margin: 30px auto 0;
text-align: left;
padding-bottom: 30px;
}

#desafio #respostas dt{
margin: 30px 0 0 0;
padding: 0;
clear: left;
}

#desafio #respostas dt h3{
color: #504194;
font-size: 250%;
padding: 0;
margin: 0;
}

#desafio #respostas dt p{
width: 450px;
font-size: 110%;
color: #797a7d;
}

#desafio #respostas dt>div{
float: right;
text-align: right;
}

#desafio #respostas dt>div a{
color: #797a7d;
font-size: 90%;
}

#desafio #respostas dd{
margin: 30px 0 0 0;
padding: 0;
clear: left;
}

/********** Tabuleiro *******/

body#tabuleiro {
padding: 55px 0 0;
}

#tabuleiro section{
width: 940px;
margin: 0 auto;
}

#tabuleiro h3 {
padding: 20px 0 0 20px;
float: left;
color: #9087bc;
border-bottom: 1px solid #f7f7f7;
width: 830px;
font-size: 200%;
}

#tabuleiro h3 span{
font-size: 60%;
}

#tabuleiro #mapa {
width: 100%;
background: #c9d5ed url('../images/fundo_pontilhado_azul.gif') 0 0 repeat-x;
margin: 20px 0 0;
}

#tabuleiro #mapa article{
width: 940px;
margin: 0 auto;
}

#tabuleiro #mapa article h2{
padding: 30px 0 20px;
}

#tabuleiro #mapa div{
width: 650px;
height: 179px;
background: transparent url('../images/imagem_tabuleiro.gif') no-repeat 0 0;
margin: 0 auto 30px;
}

#tabuleiro #mapa div ul#nivel{
margin: 0;
padding: 0;
}

#tabuleiro #mapa div ul#nivel li{
list-style-type: none;
float: left;
width: 102px;
text-align: center;
margin: 15px 0 0 34px;
}

#tabuleiro #mapa div ul#nivel li strong{
font-size: 450%;
}

#tabuleiro #mapa div ul#nivel li:first-child{
margin-left: 0;
}

#tabuleiro #mapa div ul#nivel li.fechado strong{
color: silver;
}

#tabuleiro ul#estrelas {
margin: 0 0 0 70px;
padding: 0;
}

#tabuleiro ul#estrelas li{
list-style-type: none;
position: relative;
float: left;
margin: 15px 0 0 35px;
height: 80px;
width: 102px;
}

#tabuleiro ul#estrelas li img{
position: absolute;
top: 24px;
left: 19px;
}

#tabuleiro ul#estrelas li img:first-child{
position: absolute;
top: 7px;
left: 5px;
}

#tabuleiro ul#estrelas li img:last-child{
position: absolute;
top: 41px;
left: 31px;
}

#tabuleiro #instrucoes dl dt{
float: left;
text-align: center;
width: 70px;
font-size: 170%;
line-height: 300%;
color: black;
}

#tabuleiro #instrucoes dl dt strong{
font-size: 550%;
color: #504194;
}

#tabuleiro #instrucoes dl dd ul{
float: left;
margin: 0 30px;
padding: 0;
width: 200px;
}

#tabuleiro #instrucoes dl dd ul li{
list-style-type: none;
text-align: right;
border-right: 1px solid #AEAEAE;
padding: 10px 10px 10px 40px;
border-bottom: 1px solid #AEAEAE;
color: black;
font-size: 110%;
cursor: pointer;
position: relative;
}

#tabuleiro #instrucoes dl dd ul li a{
color: black;
}

#tabuleiro #instrucoes dl dd ul li:hover{
font-weight: bold;
}

#tabuleiro #instrucoes dl dd ul li:first-child{
padding: 60px 10px 10px 40px;
}

#tabuleiro #instrucoes dl dd ul li:last-child{
padding: 10px 10px 60px 40px;
border-bottom: 0;
}

#tabuleiro #instrucoes dl dd ul li.atual{
border-right: 0;
}

#tabuleiro #instrucoes dl dd ul li img{
position: absolute;
left: 10px;
top: 5px;
}

#tabuleiro #instrucoes dl dd ul li:first-child img{
top: 65px;
}

#tabuleiro #instrucoes dl dd div{
margin-top: 60px;
float: left;
}

#tabuleiro #instrucoes dl dd div p{
width: 200px;
font-size: 90%;
text-align: right;
color: gray;
float: left;
}

#tabuleiro #instrucoes dl dd div object{
margin: 0 30px 20px;
}

#tabuleiro #instrucoes dl dd div a{
display: block;
float: right;
width: 203px;
height: 83px;
background: transparent url('../images/fundo_botao_gd.gif') no-repeat 0 0;
margin: 0 30px;
}

#tabuleiro #instrucoes dl dd div a span{
width: 150px;
text-align: center;
display: block;
font-size: 130%;
font-weight: block;
margin: 15px 0 0 15px;
}

/***** Conteúdos ****/

body#conteudo {
padding: 55px 0 0;
}

#conteudo section{
width: 940px;
margin: 0 auto;
}

#conteudo section h3 {
padding: 20px 0 0;
float: left;
color: #9087bc;
border-bottom: 1px solid #f7f7f7;
width: 830px;
font-size: 200%;
}

#conteudo h3 span{
font-size: 60%;
}

#conteudo h2 {
padding: 20px;
border-bottom: 1px solid #f7f7f7;
float: left;
width: 810px;
font-size: 250%;
}

#conteudo h2 span{
font-size: 60%;
}

#conteudo #respostas {
width: 940px;
margin: 30px auto 0;
text-align: left;
}

#conteudo #respostas dt{
margin: 30px 0 0 0;
padding: 0;
clear: left;
}

#conteudo #respostas dt h3{
color: #504194;
font-size: 250%;
padding: 0;
margin: 0;
}

#conteudo #respostas dt p{
width: 450px;
font-size: 110%;
color: #797a7d;
}

#conteudo #respostas dt>div a{
color: #797a7d;
font-size: 90%;
}

#conteudo #respostas dd{
margin: 0;
padding: 0;
}

/***** educadores ****/

body#educadores {
padding: 55px 0 0;
}

#educadores section{
width: 940px;
margin: 0 auto 80px;
}

#educadores section img{
margin-left: 40px;
}

#educadores section h3{
float: left;
margin: 30px 50px 30px 0;
}

#educadores section p{
margin: 20px 0 0 180px;
width: 450px;
color: gray;
font-size: 110%;
}

#educadores section p.olho{
width: 700px;
vertical-align: middle;
padding-top: 30px;
}

#educadores section h4{
margin: 40px 0 0 100px;
font-size: 160%;
}

.aviso {
width: 640px;
margin: 0 auto;
}

.aviso p{
margin-left: 120px;
text-align: left;
}

.aviso.amarelo{
background: #FFF67C url('../images/ico_atencao.gif') 20px 50% no-repeat;
border: 3px dashed #FFD348;
}

/* Modal */

#modal {
width: 100%;
height: 100%;
background: rgba(0,0,0,.8);
position: fixed;
top: 0;
left: 0;
z-index: 900;
display: none;
}

#modal dl {
width: 900px;
position: absolute;
background-color: white;
padding: 10px;
box-shadow: 5px 5px 4px #000000;
}

#modal dl dt{
float: right;
width: 200px;
position: relative;
}

#modal dl dt div{
background-color: #b5b5b5;
width: 177px;
border-radius: 10px;
position: absolute;
top: 30px;
left: 15px;
text-align: center;
color: white;
display: none;
}

#modal dl dt div p{
margin: 8px 20px;
font-weight: bold;
font-size: 120%;
}

#modal dl dt div span{
text-transform: uppercase;
width: 160px;
padding: 10px 0;
background-color: #FF5F49;
display: block;
border-radius: 5px;
margin: 0 8px 8px;
cursor: pointer;
}

#modal dl dt div span.nao{
background-color: #504194;
}

#modal dl dt span.apagar {
float: left;
padding: 3px 6px;
background-color: #504194;
cursor: pointer;
color: white;
font-weight: bold;
border-radius: 4px;
box-shadow: 1px 1px 0 #AAAAAA;
margin-left: 10px;
}

#modal dl dt span.fechar {
float: right;
padding: 3px 6px;
background-color: #B5B5B5;
cursor: pointer;
color: #878787;
font-weight: bold;
border-radius: 4px;
box-shadow: 1px 1px 0 #AAAAAA;
}

#modal dl dt span.fechar b {
color: white;
}

#modal dl dt span.fechar strong{
color: white;
font-weight: normal;
}

#modal dl dt>p{
margin: 0 15px;
padding: 0;
}

#modal dl dt>p a{
color: gray;
}

#modal dd blockquote {
width: 700px;
height: 580px;
background: #f9c667; /* Old browsers */
background: linear-gradient(135deg, rgb(251,176,59) 0%,rgb(252,238,33) 100%);
position: relative;
padding: 0;
margin: 0;
text-align: left;
}

#modal dd blockquote div{
float: left;
background: transparent url('../images/fundo_modal_texto.png') no-repeat 0 0;
width: 442px;
height: 279px;
margin: 140px 120px;
}

#modal dd blockquote p{
padding: 60px 0 0 0;
margin-left: 70px;
width: 370px;
color: #225196;
font-family: 'Gochi Hand', cursive;
display: block;
font-size: 160%;
}

#modal dd blockquote div p:first-letter{
text-transform: uppercase;
font-size: 300%;
line-height: .3em;
}

#modal dl dt h4{
margin: 20px 15px 0;
padding: 0;
}

#modal dl dt time{
color: gray;
}

#modal dl dd{
float: left;
padding: 0;
margin: 0;
width: 700px;
text-align: center;
background: linear-gradient(135deg, rgb(251,251,251) 0%,rgb(200,190,190) 100%);
display: table-cell;
vertical-align: middle;
}

#modal dl dd img{
margin: 0 auto;
}

/****   Curtir   ****/

span.curtir{
float: right;
color: #e74c3c;
cursor: pointer;
}

span.curtir img{
vertical-align: middle;
}

span.curtir b{
padding: 5px;
vertical-align: middle;
}

span.curtir b.cinza{
color: #B5B5B5;
}