a {
	color: #FFF;
	text-decoration: none;
}
body {
	font-family: 'normal arial', sans-serif;
	margin: 0px;
	padding: 0px;
	font-size: 14px;
	background-repeat:repeat-x;
	background-color: #FFFFFF;
	color: #504194;
}
form {
	line-height: 50px;
}


h1 {
    text-indent: -9999px;                 
    background-image: url('../images/marca_kidu.gif');  
    height: 30px;
	width: 88px;
	white-space: nowrap; 
	cursor: pointer;
	border: 0px;     
	background-repeat: no-repeat; 
	display: inline-block; 
}
h2 {
	display: block;
	font-family: 'normal arial', sans-serif;
	font-size: 38px;
	margin: 0px 0px 20px 0px;
	padding: 0px 0px 0px 0px;
}
h3 {
	display: block;
	font-family: 'normal arial', sans-serif;
	font-size: 35px;
	margin: 0px 0px 0px 0px;
	padding: 0px 0px 0px 0px;
}

header {
	background-color: #504194;
	color: #FFF;
	position: fixed;
	width: 100%;
}

header > section {
	width: 960px;
	margin: auto;
}

input[type=text],
input[type=password] {
width: 200px;
height: 35px;
border: 0;
border-radius: 7px;
background-color: #FFFFFF;
padding-left: 10px;
font-size: 14px;
color: #999999;
border: inset 2px #a7b5dd;
}


input[type=text]:focus,
input[type=password]:focus {
color: #000;
}
input[type=button] {
	padding: 11px;
	border: solid 1px #acb5dc;
	font-size: 14px;
	border-radius: 7px;
	font-weight: 700;
}

label {
	display: inline-block;
	text-align: right;
}

nav > ul {
	list-style: none;
	padding: 0px;
	margin: 0px;
}

nav > ul li{
	display: inline-block;
	padding: 10px;
}
#allthemes {
	color: #666;
	text-align: right;
	display: inline-block;
	width: 100%;
}
#areaMenu {
	width:666px;
	display: inline-block;
	text-align: right;
}
#areaMenu li{
	text-align: center;
}
#areaMenu a{
	text-decoration: underline;
}
#bodyHome {
	font-family: 'normal arial', sans-serif;
	margin: 0px;
	padding: 0px;
	font-size: 14px;
	background-repeat:repeat-x;
	background-color: #504194;
	color: #FFFFFF;
}
#bodyHome form {
	background-color: #F5F5F5;
	margin: 50px auto 0;
	width: 375px;
	border-radius: 5px;
	box-shadow: 2px 5px 4px #444444;
	padding: 20px 0;
}
#bodyHome section {
	width: 380px;
	text-align: right;
	line-height: 20px;
	font-size: 90%;
	margin: 10px auto;
	text-decoration: underline;
}

#bodyHome nav {
	width: 940px;
	margin: 0 auto 60px;
	font-size: 90%;
	padding-top: 15px;
}

#bodyHome nav a{
	margin-right: 30px;
	text-decoration: underline;
}

#bodyHome form label{
	color: #504194;
	font-size: 100%;
	padding: 0;
	margin: 0 30px;
	display: inline;
	text-align: left;
	line-height: 1.9em;
}

#bodyHome form input[type="text"], 
#bodyHome form input[type="password"]{
	width: 330px;
	margin: 0 20px 20px;
}

#bodyHome form a{
	float: right;
	color: #797a7d;
	padding: 0 30px;
	line-height: 2em;
}

.button {
	padding: 12px 30px;
	border-radius: 5px;
	background: transparent url('../images/fundo_botoes.jpg') repeat-x 0 0; 
	font-size: 100%;
	font-weight: bold;
	cursor: pointer;
	color: #FFFFFF;
}
.buttonGrey {
	padding: 10px 25px;
	border-radius: 5px;
	background: transparent url('../images/buttonGrey.png') repeat-x 0 0; 
	font-size: 100%;
	font-weight: bold;
	cursor: pointer;
	border: 0px;
	color: #504194;

}

#container {
	width: 960px;
	margin: auto;
	text-align: left;
	padding: 15px;
}
#homeLogo {
	text-align: center;
	color: #FFF;
	font-size: 250px;
	font-weight: bold;
}
#homeLogada {
	background: #504194;
}
#homeLogada  .logo {
	padding-top: 60px;
	text-align: center;
	display: block;
}

#homeLogada header {
	background: #F5F5F5;
	color: #504194;
}
#homeLogada header a {
	color: #504194;
}
#homeLogada img {
	vertical-align: middle;
}
#homeSearch {
	text-align: center;
	padding: 40px;
}
#homeSearch input[type=button] {
	padding-top: 7px;
	padding-bottom: 7px;
	background-position: -5px;
}
#inputSearch {
	width: 505px;
}
#mainMenu {
	display: inline-block;
	text-align: right;
	width: 868px;
}
#sendSignin {
	margin-left: 265px;
	padding-left: 20px;
	padding-right: 20px;
}
#sendSignup {
	margin-left: 422px;
	cursor: pointer;
}
#signup {
	border: solid 1px;
	border-radius: 15px;
	padding: 20px;
	background-color: #c2d4ed;
	background-color: rgba(209, 224, 245, 0.22);
}
#signup label{ 
	width: 160px;
}
#signup input[type=text],
#signup input[type=password] {
	width: 300px;
}
#teamKidu {
	text-align: center;
	border: #f37d37 4px solid;
	padding: 10px;
	background-color: yellow;
	border-radius: 10px;
}
#teamKidu a{
	color: red;
	font-weight: bold;
}
#themeList {
	text-align: center;
}
#themeList a{
	display: inline-block;
	width: 220px;
	height: 130px;
	margin-right: 20px;
	background-color: #fcfcfc;
	color: #666;
	vertical-align: middle;
	padding-top: 100px
}
#themeList a div{
	font-size: 20px;
}
#userMenu {
	display: inline-block;
	padding-left: 10px;
	vertical-align: top;
}
#userData {
	display: inline-block;
	padding-top: 10px;
	vertical-align: middle;
}
#userMenu li {
	display: block;
	line-height: 18px;
	padding: 0px;
	font-size: 14;
}
.avatar_small {
	width: 38px;
	height: 38px;
	display: inline-block;
}
.bluebox {
	border: solid 1px;
	border-radius: 15px;
	padding: 20px;
	background-color: #c2d4ed;
	background-color: rgba(209, 224, 245, 0.22);
	line-height: 20px;
}
.center {
	text-align: center;
}
.erro {
	display: none;
	position: absolute;
	background-color: rgb(255, 250, 250);
	padding: 0px;
	margin-top: 7px;
	padding-left: 27px;
	padding-right: 10px;
	border-radius: 7px;
	color: rgb(216, 75, 75);
	border: solid 1px rgb(229, 170, 170);
	line-height: 35px;
	background-image: url('../images/icon-error.gif');
	background-repeat: no-repeat;
	background-position-x: 5px;
	background-position-y: 10px;
}

