		<!-- CSS -->
		<link rel="stylesheet" type="text/css" href="/css/stylesheet.css" />
		<link rel="stylesheet" type="text/css" href="/css/extra.css" />
		<link rel="stylesheet" href="/css/jquery-ui.css" /> 
		
		<!-- JS -->
		<script type="text/javascript" src="/js/jquery.js"></script> 
		<script type="text/javascript" src="/js/global.js?v=1"></script> 
		<script type="text/javascript" src="/js/jquery-ui.js"></script>
		
		<title>KIDU</title>
		
		<!-- META -->
		<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
		<meta name="description" content="">
		<meta name="keywords" content="">
		<meta name="author" content="\">