<html>
<body>
<table align="center" width="600">
<tr><td colspan="2">
    <table width="600" bgcolor="#c2d4ed" cellpadding="5" margin="5"><tr><td>
    <img src="http://www.kidu.com.br/images/marca_kidu_azul.gif" width="65" height="24" alt="Kidu">
    </td></tr></table>
    
</td></tr>
<tr cellpadding="10"><td colspan="2" cellpadding="10" align="center"><br><p style="font-family :'arial', 'sans-serif'; font-size: 20px; color: #4d4390;">Seu filho <strong>Aderbal Nunes</strong> quer brincar no Kidu</p><br></td></tr>
<tr>
<td width="300" valign="top"><p style="font-family: arial, sans-serif; font-size: 14px; text-align: right">No <b>Kidu</b> todo conte&uacute;do &eacute; avaliado antes de ser publicado e voc&ecirc; tem acesso ue.</p>

<p style="font-family: arial, sans-serif; font-size: 14px; text-align: right">Ipsum odio gravida lacus, a adipiscing metus mauris ac ante. Mauris bibendum lectus in neque semper mollis. </p>

<p style="font-family: arial, sans-serif; font-size: 14px; text-align: right">Donec interdum egestas sem vitae congue. Vestibulum quis quam euismod, mattis dolor at, placerat neque. Interdum et malesuada fames ac ante ipsum primis in faucibus. </p></td>
    
    <td>
    <table border="1" cellspacing="10" align="center" cellpadding="20" style="border-color: silver">
        <tr align="center"><td bgcolor="#F5F5F5"><p style="font-family: arial, sans-serif">Autorize seu filho via<br>Facebook Login</p><a href="http://www.kidu.com.br/profile"><img src="http://www.kidu.com.br/images/bot_autorizar.gif" width="203" height="68" alt="Autorizar agora via Facebook login"></a></td></tr>
        </table>
    
    </td></tr>
</table>    
</body>
</html>