<header>
	<section>
		<a href="/"><h1>KIDU</h1></a>
		<nav id="areaMenu">
			<ul>
				<li><a href="/fathers">[!fathers!]</a></li>
				<li>|</li>
				<li><a href="/teachers">[!teachers!]</a></li>
			</ul>
		</nav>
		<div id="userData">
			<img class="avatar_small" src="[#avatar#]" />
			<nav id="userMenu">
				<ul>
					<li><b><a href="/profile/">[#name_user#]</a></b></li>
					<li><a href="/profile/settings">[!settings!]</a> | <a href="/logoff">[!exit!]</a></li>
				</ul>
			</nav>
		</div>
	</section>
</header>