<div id="modal">
</div>
<header>
	<div>
		<form id="busca" action="/hotsite/home" method="POST">
			<h1><a href="/"><img src="/images/marca_kidu.gif" width="80" height="30" alt="Kidu"><img src="/images/selo_beta.gif" width="39" height="40" alt="Beta"></a></h1>
			<input type="text" name="searchInput" id="topInputsearch" placeholder="O que você procura?"><span id="topSearch">Buscar</span>
			<br class="tudo">
		</form>

		<a href="/" id="wikidu">
			<img src="/images/planetinha.gif" alt="Wikidu" width="27" height="25">WIKIDU
		</a>

		<nav>
			<!--a href="/fathers">[!fathers!]</a> | <a href="/teachers">[!teachers!]</a-->
			<a href="/profile">Minha página</a>
		</nav>

	</div>
	<div id="opine" onclick="location.href='/contact';"><a href="/contact"><img src="/images/opine.gif" width="16" height="41"></a></div>
</header>